<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee ; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
  <display-name>Raul_Marino_ExamenU3B</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.MainServlet</servlet-class>
  </servlet>
  
  <servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.AdminInicioServlet</servlet-class>
  </servlet>
  
  <servlet>
		<servlet-name>Oficinas</servlet-name>
		<servlet-class>org.iesalixar.servidor.controller.OficinaServelet</servlet-class>
  </servlet>  
  
	
  <servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin/Inicio</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
		<servlet-name>Oficinas</servlet-name>
		<url-pattern>/Oficinas</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>5</session-timeout>
  </session-config>
  
  <servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/img/*</url-pattern>
		<url-pattern>/css/*</url-pattern>
		<url-pattern>/js/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>org.iesalixar.servidor.filters.FiltroAdmin</filter-class>		
	</filter>
	
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>org.iesalixar.servidor.filters.FiltroUsuario</filter-class>		
	</filter>
	
	<filter-mapping>
		<servlet-name>/Admin/Inicio</servlet-name>
		<servlet-name>/Admin/EditarProduct</servlet-name>		
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/Oficinas</url-pattern>
  
</web-app>