<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap::head(title='Add Grado')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-6">
				<form th:action="@{/grados/add}" method="post"	th:object="${grado}">
					<label for="nombre" class="form-label mt-3">Nombre</label>
					<input type="text" class="form-control" id="nombre" name="nombre"
						th:field="*{nombre}" required>						
					<h6 class="text-danger" th:if="${error!=null}" th:text="${'Grado existente'}"></h6>	
					<input type="submit" class="btn btn-primary w-100 mt-3" value="AÑADIR" />	
				</form>
			</div>
			<footer th:replace="fragments/parts::footer(info='menu.grados')"></footer>
		</div>
	</div>
</body>
</html>