<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap::head(title='Grados')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div sec:authorize="hasRole('ROLE_ADMIN')"><a class="text-center mt-1 col-2 btn btn-primary" th:href="@{/grados/add}">Añadir Grado</a></div>
			
			
			<div class="col-8">
				<table class="table table-stripped table-hover">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Asignaturas</th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="g : ${grados}">
					 	<td th:text="${g.getId()}"></td>
					 	<td th:text="${g.getNombre()}"></td>
					 	<td><a th:href="@{'/grados/asignaturas?grado='+${g.getId()}}"><i class="bi bi-eye"></i></a></td>
					 </tr>					
					</tbody>
				</table>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')"><a class="text-center mt-1 col-2 btn btn-primary" th:href="@{/grados/add}">Añadir Grado</a></div>

			<footer th:replace="fragments/parts::footer(info='menu.grados')"></footer>
		</div>
	</div>
</body>
</html>