<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap::head(title='menu.addprofDepart')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-6">
				<form th:action="@{/departments/addprofesor}" method="post"	th:object="${profDepart}">
					<label for="profesor" class="form-label mt-3" th:text="#{menu.profesor}"></label>
					<select name="profesor" class="form-select mt-3"  th:field="*{id_profesor}">
                                <option th:each="p : ${profesores}" 
                                th:value="${p.id} " 
                                th:text="|${p.nombre} ${p.apellido1} ${p.apellido2}|" 
                               ></option>
                    </select>	
					<label for="id_departamento" class="form-label mt-3" th:text="#{menu.departments}"></label>
					<select name="id_departamento" class="form-select mt-3">
                                <option th:each="d : ${departamentos}" 
                                th:value="${d.id} " 
                                th:text="${d.nombre}" 
                                th:selected="(${id_depart} == ${d.id})"
                               ></option>
                    </select>					
					<h6 class="text-danger" th:if="${error!=null}" th:text="#{'errorAddProfDepart'}"></h6>	
					
					<button type="submit" class="btn btn-primary w-100 mt-3" th:text="#{add}"> </button>		
				</form>
			</div>
			<footer th:replace="fragments/parts::footer(info='menu.addprofDepart')"></footer>
		</div>
	</div>
</body>
</html>