<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap::head(title='menu.subjects')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>		
			<div class="row mt-3 justify-content-end">
            	<a class="text-center col-2 btn btn-primary" th:href="@{/asignaturas/add}" th:text="#{menu.addSubject}"> </a>
            </div>	
			<div class="col-8">
				<table class="table table-stripped table-hover">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th th:text="#{name}"></th>
						<th th:text="#{credits}">Creditos</th>
						<th th:text="#{course}">Curso</th>
						<th th:text="#{type}">Tipo</th>
						<th th:text="#{quarter}">Cuatrimestre</th>
						<th th:text="#{profesor}">Profesor</th>
						<th th:text="#{grade}"></th>
						<th></th>
						<th></th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="a : ${asignaturas}">
					 	<td th:text="${a.getId()}"></td>
					 	<td th:text="${a.getNombre()}"></td>
					 	<td th:text="${a.getCreditos()}"></td>
					 	<td th:text="${a.getCurso()}"></td>
					 	<td th:text="${a.getTipo()}"></td>
					 	<td th:text="${a.getCuatrimestre()}"></td>
					 	<td th:text="(${a.profesor} != null) ? |${a.profesor.nombre} ${a.profesor.apellido1}| : '' "></td>
					 	<td th:if="${a.getGrado()!=null}" th:text="${a.getGrado().getNombre()}"></td>
					 	<td th:if="${a.getGrado()==null}" th:text="#{noGrado}"></td>
					 	<td><a th:href="@{'/asignaturas/alumnos?codigo='+${a.getId()}}"><i class="bi bi-people"></i></a></td>
					 	<td><a th:href="@{'/asignaturas/edit?asig='+${a.getId()}}"><i class="bi bi-pen-fill"></i></a></td>
					 </tr>					
					</tbody>
				</table>
			</div>

			<footer th:replace="fragments/parts::footer(info='menu.subjects')"></footer>
		</div>
	</div>
</body>
</html>